<router-outlet></router-outlet>

<!--<div *ngIf="userLogedIn; else loginBlock">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="wrapper">
        <div class="content-wrapper">
            <h2>{{userLogedIn}}</h2>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.4.0
            </div>
            <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
            reserved.
        </footer>
    </div>
</div>
<ng-template #loginBlock>
    <h2>{{userLogedIn}}</h2>
    <app-login></app-login>
</ng-template>-->

